.sign-up__form {
  display: grid;
  width: 100%;
  min-height: 200px;
}

.sign-up__form label, .sign-up__input {
  width: 100%;
}

.sign-up__input {
  margin: 10px 0;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(255, 75, 43);
}

.sign-up__input--error {
  border: 1px solid red;
  border-radius: 5px;
  background-color: rgba(255, 75, 43, 0.3);
}

.sign-up__button {
  width: 50%;
  height: 45px;
  justify-self: center;
  background: rgb(255, 75, 43);
  border: none;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
}

.sign-up__button:hover {
  background: rgb(255, 65, 108);
  transition-duration: 1s;
}

.sign-up__button:disabled,
.sign-up__button[disabled] {
  background: gray;
  cursor: auto;
}

.sign-up__header {
  width: 100%;
  text-align: center;
}

